#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.individual-projects-section{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 30px;
}

.profile-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 30px;
    border-radius: 50px;
}

.project-box{
    margin-top: 100px;
    margin-bottom: 100px;
    outline: 2px solid rgb(0, 0, 3);
    width:800px;
    background-color: rgb(240, 231, 217);
}

.tech-pics{
    width: 130px;
    height:130px;
    padding:40px;

}



#navbar{
    display: flex;
    flex-direction: row; 
    background-color: black;
    width:100vw;
    padding: 0px;
    margin: 0px;
    height:50px;
   
}

#navbar li{
    padding-left: 40px;
    list-style-type: none;
    color: cornsilk;
    padding-top:15px
   
}

#navbar li a{
    color: blanchedalmond;
    text-decoration: none;
}

.app{
    margin: 0px;
    padding:0px;
}

.picture-layout-row{
    display: flex;
    flex-direction: row;
    outline: 2px solid rgb(0, 0, 3);
}

.techcard-container {
    font-size: 20px;
    margin:40px;
    margin-top: 40px;
    
}
.techcard-container p{
    margin:80px;
    font-size: 40px;
    text-align: center;
}