#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.individual-projects-section{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 30px;
}

.profile-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 30px;
}

.project-box{
    margin-bottom: 100px;
    outline: 2px solid rgb(0, 0, 3);
}

.tech-pics{
    width: 50px;
    height:50px;
    padding:40px;
}

.tech-card-layout{
    display: flex;
    flex-direction: row;
}

#navbar{
    display: flex;
    flex-direction: row; 
    background-color: black;
    width:100vw;
    padding: 0px;
    margin: 0px;
    height:60px;
   
}

#navbar li{
    padding-left: 40px;
    list-style-type: none;
    color: cornsilk;
   
}

#navbar li a{
    color: blanchedalmond;
    text-decoration: none;
}

.app{
    margin: 0px;
    padding:0px;
}